@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-lightgray: #7D7D7D;
  --color-lightergray: #9F9F9F;
  --color-evenlightergray: #E1E1E1;
  --color-darkgray: #545454;
  --color-refblue: #1386EB;
}